{
    "presets": [
        "@babel/preset-env",
        //"@babel/preset-react" ya no hay necesidad de importar react en App.jsx con esta configuracion
          ["@babel/preset-react", {
               "runtime": "automatic"
           }]
    ]
}